body {
    font-family: arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1.6;
    display:block;
}
  
input {
    border: none;
    outline: none;
}
  
button {
    border: none;
    font-family: inherit;
    cursor: pointer;
    background-color: white;
}

  /* MAIN*/

#main {
    width: 100%;
    margin: auto;
    align-items:center;
    justify-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.content {
    padding-top: 120px;
      padding-bottom: 50px;
      display: block;
}
  
.search-bar .form-control:hover,
.search-bar .form-control:focus-within {
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
  
.search-bar .form-control {
    justify-items: center;
    padding-left: 2.375rem;
    margin-top:30px;
    width: 550px;
    background: url('https://seeklogo.com/images/G/google-mic-logo-EF440C9A6F-seeklogo.com.png') no-repeat right 10px center;;
    background-size: 13px 18px;
    padding-right: 2.375px;
    border-radius: 24px;
}
  
.search-bar .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

  /*NAV*/
  
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    font-size: 13px;
    padding-right:30px;
    align-items: center;
    overflow: hidden;
}
  
.nav a {
    color: black;
    text-align: center;
    padding-left: 15px;
}
  
.nav a:hover {
    text-decoration: underline; 
    color: black;
}
  
#menu{
    height:30px;
    width:30px;
    margin:15px 15px;
}
  
#sign{
    line-height: 28px;
    padding: 0px 12px;
    border-radius: 2px;
    font-size:13px;
    line-height: normal;
    font-family: arial,sans-serif;
     font-weight: bold;
}
  
  /*MAIN SEARCH BUTTONS*/
  .search-buttons{
	height: 70px;
  padding-top: 18px;
}

.search-buttons button{
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-family: arial,sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.search-buttons button:hover {
  border-color: #dadce0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

  /*FOOTER*/
  
.footer{
    left: 0;
    bottom:0;
    background-color:white;
    position: fixed;
    right: 0;
    line-height: 40px;
    border-top: 1px solid #dadce0;
    font-size:14px;
    margin-left: -27px;
    line-height: 40px;
    display:block;
}

.footer a{
    color: #70757a;
    padding-left: 27px;
    margin: 0 !important;
}

.footer a:hover{
    color: #70757a;
    text-decoration: underline;
}
  
.left{
    float: left;
    margin-left: 30px;
}
  
.right{
    margin-right: 30px;
    float: right;
}

  /*MEDIA*/
  
  @media (max-width: 500px) {
    .footer {
      flex-direction: column;
    }
  
    .search-bar {
      width: 80%;
    }
  
    html {
      font-size: 50%;
    }
  }